<div class="container">
	<div class="row">
		<div class="col-xs-4 col-xs-offset-2">
			<div class="title">
				<h2>ダイヤモンドについて</h2>
				<%= image_tag 'ESSENTIAL.jpg', size: "720x300" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<div class="about">
				完璧なスタイルと非の打ち所のないサービス

				私達はジュエリーの一点一点に対して最高のケア、深い知識と自信を持って提供されることを保証できるように尽力します。高品質のダイヤモンド、また職人の確かな技工により満足できる一点をお届けします。
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			<h3>私達の保証</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			全ての購入されたジュエリーには無料で無期限保証がついてきます。これには検査、クリーニング、更にはダイヤモンドの付け直しまで含まれています。
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 col-xs-offset-2">
			世界的に顕著な専門家とのコラボレーションを通じて開発され、独立したレプリゼンタティブを通じて販売される効果的な、毒素フリーの製品を提供するインターナショナルオポチュニティーカンパニーです。C-DOでは、世界中で手にすることが可能です。世界中で固く結ばれている家族の一員であり、最高の人になれるということを象徴しています。そして、この団結の精神を通して、私たちは一致し、終わることのない友情を築き、成功という影響力の輪を維持し、一緒に人間の可能性を引き出すことができるのです。
		</div>
	</div>
</div>
